.full-height {
  height: 100%;
}

.flex-rows {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-fixed {
  flex: 0 1 20%;
}

.flex-stretch {
  flex: 1 1 auto;
}

.lightblue-background {
  background-color: lightblue;
}

.align-center {
  text-align: center;
}

.relative-position {
  position: relative;
}

.badge-position {
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.badge-skin {
  border: 1px solid darkgrey;
  border-radius: 1rem;
  background-color: lightcoral;
  padding: 1rem;
}
